.sidebar{
  width: 250px;
  height: 100vh;
  background-color: black;
  align-items: center;
  display: flex;
}
.sidebar nav{
    gap: 30px;
    color: white;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.sidebar nav a{
    font-size: 25px;
    color: white;

}
.sidebar nav .tab {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.sidebar nav .tab span {
  font-size: 1.3em; 
  font-weight: bold; 
  color: white;
}